@import "../Parametres.scss";

.Galerie {
    display: flex;
    flex-wrap: wrap;
    background-color: $grisClair;
    border-radius: 25px;
    height: $hauteurGalerie;
    gap: 50px 60px;
    margin: 36px 0 40px 0;
    padding: $margeHaute + px 0 $margeBasse + px 50px;
    overflow: scroll;

    & > a {
        text-decoration: none;
    }

    @media (max-width: 769px) {
        flex-direction: column;
        height: 805px;
        row-gap: 20px;
        padding: 0;
        background-color: white;
        margin: 0;
        border-radius: 10px;
    }
}