@import "../../Composants/Parametres.scss";

#root {
    font-family: $policeDefaut;
    display: flex;
    padding: 45px 100px 0 100px;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    @media (max-width: 769px) {
        padding: 0;
    }
}

body {
    @media (max-width: 769px) {
        margin: 0;
    }
}

header, main, footer {
    width: $largeurMain + px;
}

header, main {
    @media (max-width: 769px) {
        width: 335px;
    }
}
 footer {
     @media (max-width: 769px) {
         width: 100%;
     }     
 }