main {
    height: 100%;
}

.identification {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .titreLieu {
        display: flex;
        flex-direction: column;
    }
}

.sectionStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px 10px 5px 5px;
}