.navHorizontale {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menuNav {
        display: flex;
        gap: 57px;
    }

    .liensNav {
        font-weight: 500;
        font-size: 24px;
        text-decoration: none;
        color: black;
    }

    .pageActive {
        text-decoration: underline;
    }

    @media (max-width: 769px) {
        height: 46px;
        padding: 20px 20px 0 20px;

        & img {
            height: 100%;
        }

        .menuNav {
            gap: 26px;
        }

        .liensNav {
            font-size: 12px;
        }
    }
}
