//  Couleurs
$grisClair : #F6F6F6;
$orange : #FF6060;
$largeurMain : 1240;

// Polices
$policeDefaut: 'Montserrat', sans-serif;

//  Galerie
$margeHaute: 56;
$margeBasse: 43;
$hauteurGalerie: (829 - $margeHaute - $margeBasse) + px;

// Pied de page
$margeBassePiedPage: 29;
$hauteurPiedPage: (209 - $margeBassePiedPage) + px;

//  Combobox
$paddingCB: 0 20px 0 10px;
$largeurCB: 589px;