.scoreLogement {
    display: flex;
    justify-content: space-between;

    & img {
        width: 36px;
        height: 36px;

        @media (max-width: 769px) {            
            width: 18px;
            height: 18px;
        }
    }
}
