@import "../../Parametres.scss";


@keyframes cbOuvrir {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-180deg);
    }
}

@keyframes cbFermer {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

.comboBox {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width: 582px;
    position: relative;

    &.grande {
        width: 100%;
    }

    @media (max-width: 769px) {
        width: 100%;
    }
}

.controleListe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $orange;
    color: white;
    border-radius: 5px;    
    width: 100%;
    z-index: 1;

    & p {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        padding: 10px;
    }

    @media (max-width: 769px) {
        & p {
            font-size: 13px;
        }
    }
}

.contenuListe {
    width: 100%;
    position: relative;
    top: -100%;
    opacity: 0;
    z-index: 0;
    
    &.ouvert {
        top: 100%;
        opacity: 1;
        z-index: 1;
        background-color: $grisClair;
    }

    & p, & li {
        font-size: 18px;
        font-weight: 400;                
        color: black;
        padding: 20px;

        @media (max-width: 769px) {
            font-size: 12px;
        }
    }

    & li {
        padding: 0 0 0 20px;

        @media (max-width: 769px) {
            padding: 0;
        }
    }
}

.combo, .comboOuverte {
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: $paddingCB;

    &:active {
        animation: cbOuvrir 300ms ease-out both;
    }

    @media (max-width: 769px) {
        padding: $paddingCBMob;
        width: 16px;
        height: 9.14px;
    }
}

.comboOuverte {
    &:active {
        animation: cbFermer 300ms ease-out both;
    }
}